<div class="jumbotron">
    <img src="/content/album.jpg"/>


        @*<p class="lead">Welcome to the Jataka Tales editing functions. You may add new stories or edit existing storyies. We also will have a book generator where you can create custum books. </p>*@
    
</div>
<div class="row">
 
    <div class="col-md-6">

        @using (Html.BeginForm("UploadPicture", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {


            <table style="width: 55%">

                <tr>
                    <td>
                        <h2>Upload Your File</h2>
                    </td>

                </tr>

                <tr>
                    <td>
                        <p>Upload all your precious work here. </p>
                    </td>

                </tr>

                <tr>
                    <td>
                        @Html.Label("Story Tellers")
                    </td>

                </tr>
                <tr>

                    <td>
                        @Html.DropDownList("newReader", (IEnumerable<SelectListItem>)ViewData["newReadersData"])
                    </td>
                </tr>

                @*<tr>
                    <td>
                        @Html.Label("Comments")
                    </td>

                </tr>
                <tr>

                    <td>

                        <textarea name="comments" id="comments" cols="20" rows="5"></textarea>
                    </td>
                </tr>*@


            </table>


            string idpic = (string)ViewData["id"];



            <input type="file" id="FileData" name="FileData" />

            <input type="submit" id="UpdatePhoto" value="Upload File" />

            @*<input type="hidden" id="idPhoto" name="idPhoto" value="@idpic" />*@
            <input type="hidden" id="idPhoto" name="idPhoto" />
            <input type="hidden" id="comments" name="comments" />

        }

    </div>

    </div>

    <script type="text/javascript">
        $(function () {
            $("#newReader").change(function () {
                var selectedText = $(this).find("option:selected").text();
                var selectedValue = $(this).val();
                document.getElementById('idPhoto').value = selectedValue;


            });
        });
    </script>
