<div class="jumbotron">
    <img src="/content/album.jpg"/>


        @*<p class="lead">Welcome to the Sparks Tales editing functions. You may add new stories or edit existing storyies. We also will have a book generator where you can create custum books. </p>*@
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>The first phase is to captue all the Jataka stories and put them into a database. We then have a central location for all stories. This will allow us great flexibility.
            <a class="btn btn-info" href="/Home/Insert">Insert new story</a>
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Edit Stories</h2>
        <p>This is where the user can edit the story. </p>
        <p><a class="btn btn-info" href="/Home/UpdateStory">Edit existing story</a></p>
    </div>
    <div class="col-md-4">
        <h2>Custom Book generation</h2>
        <p>This will allow the user to create the foundation for creating custom books. </p>
        <p><a class="btn btn-info" href="/Home/BookGenerator">create Custom Books</a></p>
    </div>

</div>
