<div class="jumbotron">
    <img src="/content/album.jpg"/>


        @*<p class="lead">Welcome to the Jataka Tales editing functions. You may add new stories or edit existing storyies. We also will have a book generator where you can create custum books. </p>*@
    
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            The first phase is to captue all the Jataka stories and put them into a database. We then have a central location for all stories. This will allow us great flexibility.

        </p>

        <h2>New Category</h2>
        <p>
            Add New Category
        </p>


        <p><a class="btn btn-info" href="/Home/NewCategory">New Category</a></p>

        <h2>Jakata Master</h2>
        <p>
            The Jataka master database keeps all this information. it assigns a jataka id and gives it a roman numeral equilivent number. The tile is also inserted into the database.

        </p>

        <p><a class="btn btn-info" href="/Home/JatakaMaster">Existing Jataka Story</a></p>
        <p><a class="btn btn-info" href="/Home/NewJatakaMaster">New Jataka Story</a></p>

        <p>
            Next we add the Story, Animals. Moral and comments. The story is copied and paste into the story field.
        <p>

        <p>
            <a class="btn btn-info" href="/Home/Insert">Insert new story</a>
        </p>

        <h2>Morals</h2>
        <p>New and existing morals are kept in the database. </p>
        <p><a class="btn btn-info" href="/Home/Morals">Existing Morals</a></p>
        <p><a class="btn btn-info" href="/Home/NewMorals">New Morals</a></p>

    </div>
    <div class="col-md-6">
        <h2>Edit Stories</h2>
        <p>This is where the user can edit the story. </p>
        <p><a class="btn btn-info" href="/Home/UpdateStory">Edit existing story</a></p>
    </div>
    <div class="col-md-4">
        <h2>Project Status</h2>
        <p>Keep up to date on each project. </p>
        <p><a class="btn btn-info" href="/Home/UpdateProject">Project Status</a></p>

        <h2>Story Tellers</h2>
        <p> 
        We can add or edit existing Story Tellers </p>
        <p><a class="btn btn-info" href="/Home/User">Existing Story Tellers</a></p>
        <p><a class="btn btn-info" href="/Home/NewUser">New Story Tellers</a></p>

        <h2>Animals</h2>
        <p> We can add or edit existing animals </p>
        <p><a class="btn btn-info" href="/Home/Animals">Existing Animals</a></p>
        <p><a class="btn btn-info" href="/Home/NewAnimals">New Animals</a></p>

    </div>



   

</div>

