
@{
    ViewBag.Title = "UpdateStory";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<h2>UpdateStory</h2>

<table style="width: 55%">
    <tr>
        <td>
            @Html.Label("Story Category", new { @visible = false })
        </td>

    </tr>
    <tr>

        <td>
            @Html.DropDownList("StoryCategorytName", (IEnumerable<SelectListItem>)ViewData["StoryCategorytNameData"])
        </td>

    </tr>


</table>

<table style="width: 55%">
    <tr>
        <td>
            @Html.Label("Title")
        </td>

    </tr>
    <tr>

        <td>
            @Html.DropDownList("jakataMaster", (IEnumerable<SelectListItem>)ViewData["jakataMasterData"])
        </td>



    </tr>
</table>


<script type="text/javascript">
    $(function () {
        $("#jakataMaster").change(function () {
            var selectedText = $(this).find("option:selected").text();
            var selectedValue = $(this).val();
            window.location.href = "/Home/Update?row=" + selectedValue;


        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $("#StoryCategorytName").change(function () {
            var selectedText = $(this).find("option:selected").text();
            //var StoryCategorytName = $(this).find("option:selected").value();
            var StoryCategorytName = $("#StoryCategorytName").val();
            StoryCategorytName = parseInt(StoryCategorytName);


            var env = 'Prod';

            var apiUrl = "";

            if (env == "Dev") {
                //apiUrl = 'http://localhost:5199/';
                apiUrl = "http://localhost:5199/api/specificStoryDropdown/getjatakabyyspecific";

            }
            else {


                //apiUrl = "https://api.storyteller.today/api/StoryCategorytName/GetStoryCategoryNameByID?id=" + StoryCategorytName;
                apiUrl = "https://api.storyteller.today/api/specificStoryDropdown/getjatakabyyspecific";

            }

            //var apiUrl = 'http://localhost:5199/';

            var resultJSON = {
                id: StoryCategorytName
            };

            $.ajax({
                type: 'GET',
                url: apiUrl,
                //url: apiUrl+"api/Project/getReadersSpecificStory",
                //url: "http://localhost:5199/api/Project/getReadersSpecificStory",


                data: resultJSON,
                dataType: "json",


                success: function (data, status, xhr) {
                    //alert("Success: " + xhr.status + " : " + xhr.statusText);

                    var jakataMasterLists = data.data[0].jakataMasterLists;

                    var s = '<option value="-0">Please Select ';
                    for (var i = 0; i < jakataMasterLists.length; i++) {
                        s += '<option value="' + jakataMasterLists[i].ID + '">' + jakataMasterLists[i].Title + '</option>';
                    }
                    $("#jakataMaster").html(s);


                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }




            });


        });
    });
</script>




